<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				 <rule name="page" patternSyntax="Wildcard">
                    <match url="page/*" />
                    <action type="Rewrite" url="index.html" />
                </rule>
				 <rule name="report" patternSyntax="Wildcard">
                    <match url="PowerBI/*" />
                    <action type="Rewrite" url="index.html" />
                </rule>
				<rule name="system" patternSyntax="Wildcard">
                    <match url="System/*" />
                    <action type="Rewrite" url="index.html" />
                </rule>
				<rule name="DataEntry" patternSyntax="Wildcard">
                    <match url="DataEntry/*" />
                    <action type="Rewrite" url="index.html" />
                </rule>
                <!--rule name="img" patternSyntax="Wildcard">
                    <match url="img/*" />
                    <action type="Rewrite" url="/appassets/{R:1}" />
                </rule-->
            </rules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".json" />
            <remove fileExtension=".js" />
            <remove fileExtension=".css" />
            <mimeMap fileExtension=".css" mimeType="text/css; charset=utf-8" />
            <mimeMap fileExtension=".js" mimeType="application/javascript; charset=utf-8" />
            <mimeMap fileExtension=".json" mimeType="application/json; charset=utf-8" />
        </staticContent>
    </system.webServer>
</configuration>
