<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<!--define various log targets-->
	<targets>

		<!--write logs to file-->
		<!--<target xsi:type="File" name="Info" fileName="logs/info/${shortdate}.log"
                 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="File" name="Error" fileName="logs/error/${shortdate}.log"
                 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />-->

		<target xsi:type="File" name="EmailInfo" fileName="logs/emailInfo/${shortdate}.log"
					 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

		<target xsi:type="File" name="TaskInfo" fileName="logs/taskInfo/${shortdate}.log"
					 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
		<target xsi:type="File" name="SubInfo" fileName="logs/subInfo/${shortdate}.log"
					 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

		<target xsi:type="File" name="ApiException" fileName="logs/apiException/${shortdate}.log"
					 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />


	</targets>

	<rules>
		<!--info-->
		<!--<logger name="Info" level="Info" writeTo="Info" />
    -->
		<!--error-->
		<!--
    <logger name="Error" level="Error" writeTo="Error" />-->
		<!--info-->
		<logger name="EmailInfo" level="Info" writeTo="EmailInfo" />
		<!--error-->
		<logger name="EmailInfo" level="Error" writeTo="EmailInfo" />
		<logger name="TaskInfo" level="Info" writeTo="TaskInfo" />
		<logger name="SubInfo" level="Info" writeTo="SubInfo" />
		<logger name="ApiException" level="Info" writeTo="ApiException" />
	</rules>


</nlog>